.img-container {
  background: url('https://wedwed.ru/sitemaker/templates/template86/img/timer.webp') center/cover;
  color: white;
}

.countdown-timer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 100%);
  padding: 5rem 20rem;
}

.countdown-timer-counter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 16px 0;
}

.countdown-timer-counter-item {
  width: 68px;
  text-align: center;
}

@media (max-width: 768px) {
  .countdown-timer-text {
    font-size: 16px;
  }

  .countdown-timer-container {
    padding: 5rem 2rem;
  }
}
