.calendar-container {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.calendar-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar-text-title {
  font-size: 64px;
  margin-bottom: 32px;
}

.calendar-text {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 16px;
}

.calendar-img {
  padding: 1rem 0;
  width: 100%;
  height: auto;
}

.calendar-date-time {
  width: 100%;
  text-align: center;
  padding-top: 8px;
  border-top: 1px solid black;
}

@media (max-width: 768px) {
  .calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }

  .calendar-text-title {
    font-size: 44px;
    margin-bottom: 16px;
  }
}
