.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5rem 20rem;
}

.header-title {
}

.header-separator {
  height: 6px;
  background: #000;
  width: 100%;
}

.header-separator-small {
  height: 2px;
  background: #000;
  width: 100%;
}

.header-description {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.header-conclusion-title {
  font-size: 24px;
  font-weight: 600;
  padding: 1rem 0;
}

.heading-3 {
  padding: 0.5rem 0;
}

.header-img {
  padding: 2rem 0;
  width: 100%;
  height: 40rem;
}
