.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-separator {
  height: 3px;
  background: #000;
  width: 100%;
}

.footer-separator-small {
  height: 1px;
  background: #000;
  width: 100%;
}

.footer-conclusion-title {
  font-size: 24px;
  font-weight: 600;
  padding: 1rem 0;
}

.heading-3 {
  padding: 0.5rem 0;
}

.footer-img {
  padding: 1.5rem 0;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .footer-title {
    font-size: 43px;
  }

  .footer-text {
    font-size: 10px;
  }

  .footer-container {
    padding-top: 2.5rem;
  }

  .footer-separator {
    height: 2px;
  }

  .footer-separator-small {
    height: 1px;
  }

  .footer-conclusion-title {
    font-size: 20px;
    padding: 0.75rem 0;
    text-align: center;
  }

  .heading-3 {
    padding: 0.25rem 0;
  }

  .footer-img {
    padding: 1rem 0;
  }
}
