.wishes-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: '50%';
  padding-top: 2rem;
}

.wishes-title {
  margin-bottom: 16Ð²px;
}

.wishes-separator-small {
  height: 1px;
  background: #000;
  width: 100%;
}

.wishes-slider {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.wishes-button {
  margin-top: 32px;
}

@media (max-width: 768px) {
  .wishes-slider-container {
    width: '100%';
  }
}
